<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TML</title>
    <link rel="stylesheet" href="/content.css">
  </head>
  <body>
    <header>
      <h1>TML</h1>
    </header>
    <div class="about">
      <p>
        TML, or Too Many Links, is a game engine and editor for text-based
        adventure games. In order to play a TML game you must have a link to the
        specific game.
      </p>
      <p>
        There are currently <b><%= $r.get('tml:gamecount') %></b> games in the
        TML registry. Make your own today for free!
      </p>
    </div>
    <a href="/e" class="edlink">Game Editor</a>
    <small>Copyright &copy; 2016 Nova Wolf</small>
  </body>
</html>
